---
import socials from "~/utils"
---
<section class="text-gray-400 bg-gray-800 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap ">
        <h2 class="sm:text-3xl text-2xl text-white font-medium title-font mb-2 md:w-2/5">
            Want to contribute to the show? 
            <br>
            Help support the show
        </h2>
        <div class="md:w-3/5 md:pl-6">
            <p class="leading-relaxed text-base">
                Join the comminty of supporters in helping launch The Yard Work Show's food truck, along with gaining access to exclusive content.
            </p>
            <div class="flex md:mt-4 mt-6">
                <a href={socials.patreon} target="_blank" class="text-blue-400 inline-flex items-center ">
                    Support The Show On  Patreon
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>